{{- $email := promptString "email" -}}
{{- $name := promptString "name" -}}
{{- $personal := promptString "Is this a personal device? (y/n)" -}}
{{- $work := promptString "Is this a work device? (y/n)" -}}

format: json
sourceDir: {{ .chezmoi.homeDir }}/Code/.dotfiles

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  personal: "{{ $personal }}"
  work: "{{ $work }}"
  {{- if (eq .chezmoi.os "linux") }}
  bash: "/usr/bin/bash"
  gpg: "/usr/bin/gpg2"
  {{- else if (eq .chezmoi.os "darwin") }}
  bash: "/usr/local/bin/bash"
  gpg: "/usr/local/MacGPG2/bin/gpg2"
  {{- end }}
