{{- $user_email := "" -}}
{{- $user_name := "" -}}
{{- $personal := false -}}

{{ if stdinIsATTY }}
{{- $user_email = promptString "user_email" | quote -}}
{{- $user_name = promptString "user_name" | quote -}}
{{- $personal = promptBool "Is this a personal device? (y/n)" -}}
{{- else }}
{{- $user_email = env "USER_EMAIL" | quote -}}
{{- $user_name = env "USER_NAME" | quote -}}
{{- $personal = "y" -}}
{{ end }}

format: yaml
sourceDir: {{ .chezmoi.homeDir }}/Code/.dotfiles

data:
  email: {{ $user_email }}
  name: {{ $user_name }}
  personal: {{ $personal }}
  {{- if (eq .chezmoi.os "linux") }}
  bash: "/usr/bin/bash"
  gpg: "/usr/bin/gpg2"
  {{- else if (eq .chezmoi.os "darwin") }}
  bash: "/usr/local/bin/bash"
  gpg: "/usr/local/MacGPG2/bin/gpg2"
  {{- end }}
